{% extends "!page.html" %}

{% block footer %}
    {{ super() }}

    <div class="footer__extra"
         style="text-align: center;
                margin-top: 0.3em;
                font-size: 0.9em;
                color: inherit;
                line-height: 1.4;">

        <!-- ICP备案 -->
        <div>
            <a href="https://beian.miit.gov.cn/"
               target="_blank"
               style="color: inherit; text-decoration: none;">
                鄂ICP备2026022688号
            </a>
        </div>

        <!-- 公安备案 -->
        <div style="margin-top: 0.15em;">
            <a href="https://beian.mps.gov.cn/#/query/webSearch"
               target="_blank"
               style="color: inherit;
                      text-decoration: none;
                      display: inline-flex;
                      align-items: center;
                      gap: 4px;">

                <img src="{{ pathto('_static/beian.png', 1) }}"
                     alt="公安备案图标"
                     style="width: 16px; height: 16px;">

                粤公网安备44030002012786号
            </a>
        </div>

    </div>
{% endblock %}